@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "custom.css";

.sub-menu {
  @apply absolute top-0 left-0;
}

.widget_block {
  @apply bg-white;
}

.main-content {
  @apply mt-6 text-gray-500 font-poppins;
}

.main-content p {
  @apply text-sm leading-6 text-gray-500;
}
.main-content blockquote {
  @apply pl-8 my-8 italic border-l-4 border-red-500;
}

/* Single Post  */
.mag-two-cols{
    grid-template-columns: 70% 1fr;
}

.main-max-width{
    max-width:800px;
    margin:0 auto;
}

@media screen and (max-width: 990px){
    .mag-two-cols{
        grid-template-columns: none;
    }
}

.comments-link {
  margin-right: 10px;
}

.comment-form {
  margin-bottom: 30px;
  position: relative;
}

#comments p.comment-notes {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
#comment {
  border: 1px solid grey;
  background-color: #fff;
}

#comments p {
  margin-bottom: 15px;
  margin-top:25px;
  font-size:15px;
  color: #303030;
}

.comment-form-author {
  width: 49%;
  float: left;
}

.comment-form-email {
  width: 49%;
  float: right;
}

.comment-form-url,
.comment-form-website {
  clear: both;
}

.comment-form-author,
.comment-form-email,
.comment-form-website,
.comment-form-comment,
.comment-form-url {
  margin: 0 0 15px;
}

.comment-form input,
.comment-form textarea {
  border-radius: 4px;
}

.comment-form input {
  border: 1px solid grey;
  background-color: #fff;
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  background: #f6f6f6;
}

.comment-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #637381;
  text-transform: uppercase;
}

.comment-form-cookies-consent input {
  width: 2%;
  float: left;
  text-align: left;
  margin-top:6px;
}

.comment-form-cookies-consent label {
  width: 97%;
  float: right;
  text-align: left;
  margin-top:4px;
}

.page-title {
  margin-top: 0;
}

.comment.depth-1 {
  margin-bottom:20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

.comment .children {
  padding-left: 4.6em;
  margin-left: 0;
  list-style: none;
  /* background: #f1f1f1; */
}
.comment-reply-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 7px;
}
.comment-reply-title small {
  display: flex;
  color: red;
  font-size: 18px;
}

.comment-body {
  /* padding: 0 20px 20px 20px; */
}

.comment-list {
  margin-top: 20px;
  margin-left: 0;
  margin-bottom: 30px;
  list-style: none;
}

.comment-list .comment-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.comment-list .comment-author img {
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
  object-fit: cover;
  /* border-radius: 50%; */
}

.comment-list .comment-author .fn {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-left: 15px;
  color: #ef4444;
  margin-top:8px;
}

.comment-list .comment-author .fn a {
  color: #ef4444;
}
#submit {
  background-color: red;
  border: none;
  margin-top: 10px;
}
#submit:hover {
  background-color: #000;
}

.comment-list .comment-author .says {
  display: none;
}

.comment-metadata {
  margin-left: 74px;
  margin-top: -33px;
  margin-bottom: 10px;
}

.comment-content,
.reply {
  margin-left: 74px;
}

.main-content a,
.comment-content a,
.widget_text a {
  text-decoration: underline !important;
  color: blue;
}

.comment-metadata a {
  color: #000;
  font-size: 12px;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.comment-metadata a:hover {
  color: #2c2d60;
}

@media screen and (max-width: 640px) {
  .comments-area .children {
    padding-left: 4px;
  }
}

.nav-back {
  background: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 7;
  -webkit-transition: top 0.3s ease-in;
  transition: top 0.3s ease-in;
  width: 100%;
  -webkit-box-shadow: 0 3px 8px 0 rgba(32, 33, 36, 0.13);
  box-shadow: 0 3px 8px 0 rgba(32, 33, 36, 0.13);
}

.navbar .navbar-logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #ffffff;
}

.navbar .navbar-logo img {
  width: 58px;
}

.navbar .navbar-logo .logo-title {
  font-size: 26px;
  font-weight: bold;
}



.navbar .navbar-links .active {
  background: #196caf;
}

.navbar .navbar-links > ul {
  @apply flex;
  list-style: none;
}

.sidenavbar .cross-btn {
  display: block;
  padding: 10px;
  background: transparent;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 24px;
  border: 1px solid #3a3a3a;;
}

.sidenavbar svg {
  color:white;
}

.navbar .navbar-links > ul > li {
  @apply relative transition;
}

.navbar .navbar-links > ul > li a {
  padding: 20px 20px;
  /* color: #000000; */
  display: inline-block;
}

.navbar ul ul {
  @apply flex flex-col w-[220px];
  list-style: none;
  position: absolute;
  width: 220px;
  top: 103%;
  left: -999em;
  z-index:1024;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
}

.navbar ul ul ul {
  left: -999em;
  top: 0;
}

.navbar ul ul li:hover > ul,
.navbar ul ul li.focus > ul {
  left: 100%;
}

.navbar ul ul a {
  width: 220px;
}

.navbar ul li:hover > ul,
.navbar ul li.focus > ul {
  left: auto;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  visibility: visible;
}

.sidenavbar {
  display: block;
  width: 250px;
  transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #e2e2e2;
  z-index: 9;
  transition: transform 0.2s ease-in;
  visibility: hidden;
}

.sidenavbar > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 20px;
}

.sidenavbar > ul > li a {
  padding: 15px 20px;
  color: #000000;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.sidenavbar > ul > li {
  transition: background 0.1s ease-in;
}
.sidenavbar > ul > li:hover {
  background: #ef4444;
}

.sidenavbar ul ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: -999em;
  /* -webkit-transform: translateY(30px);
          transform: translateY(30px); */
  opacity: 0;
  /* -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; */
}

.sidenavbar ul ul ul {
  left: -999em;
  top: 0;
}

.sidenavbar ul ul li:hover > ul,
.sidenavbar ul ul li.focus > ul {
  left: 0;
}

/* .sidenavbar ul ul li:hover,
.sidenavbar ul ul li.focus{
  opacity: 0.7;
} */
.sidenavbar ul ul a {
}

.sidenavbar ul li:hover > ul,
.sidenavbar ul li.focus > ul {
  position: relative;
  left: 0;
  opacity: 1;
  visibility: visible;
}

/* // Sub menu HOver  */
.sidenavbar ul li .sub-menu>li:hover {
  background: #000;
}

.side-open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  visibility: visible;
}

.background-show {
  opacity: 1 !important;
  top: 0 !important;
}

#background-dark {
  position: fixed;
  z-index: 8;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.logo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-flex .site-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 20px;
}

.logo-flex .site-title-wrapper .site-title {
  color: #000000;
  font-size: 2em;
  font-weight: 900;
  margin-top: -10px;
  margin-bottom: 0px;
}

.logo-flex .site-title-wrapper .site-description {
  color: #000000;
  margin-top: -6px;
}

@media screen and (max-width: 990px) {
  .top-bar {
    display: none;
  }
  .navbar {
    padding: 10px;
    position: relative;
  }
  .navbar .navbar-logo .hamburger {
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    padding: 10px;
    background: transparent;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .navbar .navbar-logo .btn-margin {
    margin-right: 45px;
  }
  .navbar .navbar-search {
    display: none;
  }
  .navbar .navbar-links {
    display: none;
  }

  .logo-flex .site-title-wrapper .site-title {
    font-size: 25px;
  }
  .logo-flex .site-title-wrapper .site-description {
    font-size: 14px;
  }
  .logo-flex .logo-font-text {
    display: none;
  }
  .sidenavbar {
    display: block;
  }
}

.edu-search {
  border: 0;
  padding: 0px;
  font-size: 20px;
  background: transparent;
  color: #2c2d60;
}

.search-glam {
  visibility: hidden;
  position: absolute;
  top: 102%;
  max-width: 100%;
  right: 0px;
  left: 0px;
  width: 100%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in,
    -webkit-transform 0.2s ease-in;
  overflow: hidden;
}

.search-glam .search-query {
  position: relative;
}

.search-glam .search-query .search-field {
  width: 100%;
  padding: 10px;
}

.search-glam .search-query .fa-times {
  cursor: pointer;
}

.search-glam .search-query button {
  position: absolute;
  right: 14px;
  color: #8e8e8e;
  top: 9px;
  padding: 5px;
  background: transparent;
  border: 0;
  font-size: 18px;
  cursor: pointer;
}

.search-trans {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}

/*****Changes*******/

.main-content p {
  margin-bottom: 15px;
  line-height: 1.7;
}
.wp-block-button {
  padding: 6px 0;
}
.alignfull {
  margin: 11px 0;
  max-width: 100vw;
  width: 100%;
}
.alignwide {
  margin-left: 0;
  margin-right: 0;
}
.wp-block-cover-image.has-background-dim:not([class*="-background-color"]),
.wp-block-cover.has-background-dim:not([class*="-background-color"]) {
  margin-bottom: 20px;
}

.wp-block-cover-image h1:not(.has-text-color),
.wp-block-cover-image h2:not(.has-text-color),
.wp-block-cover-image h3:not(.has-text-color),
.wp-block-cover-image h4:not(.has-text-color),
.wp-block-cover-image h5:not(.has-text-color),
.wp-block-cover-image h6:not(.has-text-color),
.wp-block-cover-image p:not(.has-text-color),
.wp-block-cover h1:not(.has-text-color),
.wp-block-cover h2:not(.has-text-color),
.wp-block-cover h3:not(.has-text-color),
.wp-block-cover h4:not(.has-text-color),
.wp-block-cover h5:not(.has-text-color),
.wp-block-cover h6:not(.has-text-color),
.wp-block-cover p:not(.has-text-color) {
  color: #fff;
}

/*Comments*/
pre {
  white-space: pre;
  overflow-x: auto;
}
@media (max-width: 600px) {
  pre {
    width: 85vw;
  }
}

/**Category Markup***/
.archive-description {
  text-align: center;
  margin-top: 7px;
}

figure {
  max-width: 100%;
}

.post-categories {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 12px;
}

.side .wp-block-group h2 {
  font-size: 25px;
  color: #000;
  margin-bottom:15px;
}
.wp-caption-text {
  margin: 10px 0;
}

.headsearch-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.headsearch-box input {
  height: 100%;
  margin-bottom: 0px;
  background: #e7e7e7;
  padding: 20px;
  width: 100%;
}

.search-active {
  opacity: 1;
  visibility: visible;
}
/* 
.headsearch-box .cross-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */

.gallery-icon {
  margin-bottom: 10px;
}
/*.wp-caption {
  max-width: 100px;
}*/
.wp-block-button_link a {
  color: #fff!important;
}
.pagination {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
}

.pagination .page-numbers {
  margin-left: 7px;
  padding: 4px 10px;
  color: #fff;
  font-size:14px;
  border-radius: 3px;
}
.pagination .page-numbers:hover {
  background-color: black;
}

/***Table*********/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: bold;
}
table {
  display: table-header-group;
  vertical-align: middle;
}

table th {
  border: 1px solid black;
  padding: 10px;
}

table td {
  border: 1px solid black;
  padding: 10px;
}
dl {
  margin: 10px 0;
}

dt {
  font-weight: bold;
}
dd {
  padding-left: 7px;
}
.comment-content ul,
.main-content ul {
  list-style: disc;
  margin: 10px 0;
  padding-left: 20px;
}
.comment-content ul ul,
.main-content ul ul {
  list-style: circle;
}
.main-content ul {
  padding-left: 20px;
}
.comment-content ol,
.main-content ol {
  list-style: decimal;
  margin: 10px 0;
  padding-left: 20px;
}
.comment-content ol ol,
.main-content ol ol {
  list-style: decimal;
  padding-left: 20px;
}
.widget-area {
  font-family: poppins;
}
/* .headsearch-box .cross-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */

.headsearch-box #search-close-button {
  position: absolute;
  right: 15px;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.comment-respond form p {
  font-size: 12px;
  color: #7e7e7e;
}
.comment-content {
  margin-top: -10px;
}
.reply {
  margin-top: -12px;
}

.reply a {
  font-size: 12px;
  color: #7e7e7e;
}

.side .widget {
  background: white;
  margin-bottom: 20px;
  padding: 20px;
}

/***Embed***/
@media (max-width: 600px) {
  .wp-block-embed {
    word-break: break-all;
  }
}
.side .widget-title {
  font-size:1.25rem;
  margin-bottom:15px;
}

.side .widget a:hover{
  color: #ef4444;   
}


/* // Side Links  */

.side ul{
  list-style: none;
    margin-bottom: 25px;
    margin-left:15px;
}
.side ul li {
  position: relative;
  margin-bottom: 8px;
}



.side ul li a {
  color: #6c6c6c;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.side ul li::after {
  content: '>';
  position: absolute;
  left: -17px;
  top: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.side ul li:hover::after{
  left:-13px;
}


/* Sidesearch */

.wp-block-search__label {
  margin-bottom: 10px;
  font-size: 24px;
  display: block;
}

.search-form, .wp-block-search__inside-wrapper {
  position: relative;
}

.search-field, .wp-block-search .wp-block-search__input {
  width: 100%;
  height: 45px;
  padding: 0 79px 0 10px !important;
  border:1px solid #e2e2e2;
}

.search-submit, .wp-block-search__button {
  position: absolute;
  right: 0;
  top: 0;
  height: 45px;
  background: #2C2D60 !important;
  color: #ffffff !important;
  border: 0 !important;
  padding:10px;
}


/* Grid Columns  */

.monal-grid-col-1{
  grid-template-columns: repeat(1, 1fr);
}
.monal-grid-col-2{
    grid-template-columns: repeat(2, 1fr);
}
.monal-grid-col-3{
  grid-template-columns: repeat(3, 1fr);
}

.monal-grid-col-4{
  grid-template-columns: repeat(4, 1fr);
}



@media screen and (max-width: 990px){
  .monal-grid-col-1, .monal-grid-col-2, .monal-grid-col-3, .monal-grid-col-4 {
    grid-template-columns: auto;
}
}


.nav-links{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f5;
  padding: 20px;
  font-family: 'Poppins';
}

.nav-links .nav-previous {
  width:50%;
  word-break: break-word;
  cursor: pointer;
}

.nav-links .nav-next {
  width:50%;
  word-break: break-word;
  cursor: pointer;
  text-align: end;
}

.nav-links .nav-previous a, .nav-links .nav-next a {
  color: #000000;
}
.nav-links .nav-next::after {
  content: ">";
  margin-left: 10px;
}

.nav-links .nav-previous::before {
  content: "<";
  margin-right: 10px;
}

@media screen and (max-width: 990px){
  .nav-links .nav-previous, .nav-links .nav-next {
    width:100%;
    margin-bottom:20px;
  }
  .nav-links{
    flex-wrap: wrap;
  }
  
}
.sticky, .gallery-caption, .bypostauthor{
  display:block;
}


.breakword{
  word-break: break-word;
}
